{% extends 'base.html' %}

{% block head %}
<title>Search employee</title>
{% endblock %}

{% block page_header %}
<div class="jumbotron text-center mb-0">
    <h1>Search employee</h1>
    <p>by date of birth</p>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 bg-faded">
            <form action="/search-employee" class="form-inline d-flex flex-nowrap " method="get">
                <div class="form-group">
                    <label class="mr-2">Date of birth</label>
                    <input name="dob" placeholder="dd/mm/yyy" type="date" value="{{ date_of_birth }}">
                </div>
                <button class="btn btn-primary ml-2" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-7 bg-faded">
            <form action="/search-employee" class="form-inline d-flex flex-nowrap " method="get">
                <div class="form-group">
                    <label class="mr-2">From</label>
                    <input name="date_from" placeholder="dd/mm/yyy" type="date" value="{{ date_from }}">
                </div>
                <div class="form-group">
                    <label class="mr-2 ml-2">to</label>
                    <input name="date_to" placeholder="dd/mm/yyy" type="date" value="{{ date_to }}">
                </div>
                <button class="btn btn-primary ml-2" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    {% if employees is not none %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Department</th>
            <th scope="col">Role</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Salary</th>
            <th scope="col">Start Date</th>
        </tr>
        </thead>
        <tbody>
        {% for emp in employees %}
        <tr>
            <td>
                <p>{{ emp.name }}</p>
            </td>
            <td>
                <a class="p-3" href="/department/{{emp.department_id}}/employees" role="button">{{emp.department_name}}</a>
<!--                <p>{{ emp.department_name }}</p>-->
            </td>

            <td>
                <p>{{ emp.role }}</p>
            </td>
            <td>
                <p>{{ emp.date_of_birth }}</p>
            </td>
            <td>
                <p>{{ emp.salary }}</p>
            </td>
            <td>
                <p>{{ emp.start_date }}</p>
            </td>

        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}