{% extends 'base.html' %}

{% block head %}
<title>Add or Edit Employee</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Employee</h1>
    <p>{{department_name}}</p>
</div>
<div class="container">
    {% if employee.id == None %}
    <form action="/add-employee/{{department_id}}" method="POST">{% else %}
        <form action="/edit-employee/{{employee.id}}" method="POST">{% endif %}
            <input type="hidden" name="department_id" value="{{ employee.department_id }}">
            <div class="form-group">
                <label>Employee's name</label>
                <input class="form-control" type="text" pattern="[A-Za-z\W]+" id="name" name="name" placeholder="Enter name"
                       value="{{ employee.name }}" title="Please enter letters only" required="">
            </div>
            <div class="form-group">
                <label>Employee's role</label>
                <input class="form-control" name="role" placeholder="Enter role"
                       value="{{employee.role}}" required="">
            </div>
            <div class="form-group">
                <label>Employee's date of birth</label>
                {% if employee.date_of_birth == None %}
                <input class="form-control" type="date" name="birthdate" placeholder="Enter date of birth"
                       required="">
                {%else%}
                <input class="form-control" type="date" name="birthdate" placeholder="Enter date of birth"
                       value="{{employee.date_of_birth}}" required="">
                {% endif%}
            </div>
            <div class="form-group"><label>Employee's salary</label>
                <input class="form-control" name="salary" type="text" pattern="^[1-9]\d*([, \W]\d+)?$" placeholder="£"
                       value="{{employee.salary}}" required="">
            </div>
            <div class="form-group"><label>Employee's start date</label>
                <input class="form-control" type="date" name="start_date" placeholder="Enter start date"
                       value="{{employee.start_date}}" required="">
            </div>
            {% if error != '' %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {%endif%}
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-light" href="/department/{{ department_id }}/employees" role="button">Cancel</a>
        </form>
        {% endblock %}
    </form>
</div>