{% extends 'base.html' %}

{% block head %}
<title>Departments</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Departments</h1>
    <p>of Brentwood Ursuline Convent High School for girls</p>
</div>

<div class="container">
    <ul class="list-group cProductsList">
        {% for dep in departments %}
        <li class="list-group-item d-flex">
            <div class="p-10 m-0 w-100">
                <p class="p-10 m-0"><a href="/department/{{dep.id}}/employees">{{ dep.name }}</a></p>
                {% if dep.avg_salary != None  %}
                <p class="p-10 m-0">avg salary: £{{dep.avg_salary}}</p>{% endif %}
            </div>
            <a class="btn btn-light" href="/edit-dep/{{ dep.id }}" role="button">Edit</a>
            <a class="btn btn-secondary" href="/delete/{{ dep.id }}" type="button">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <div class="container">
        <a class="btn float-right btn-primary mt-2" href="/add-dep" role="button">Add department</a>
    </div>
</div>
{% endblock %}




