{% extends 'base.html' %}

{% block head %}
<title>Departments</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Departments</h1>
    <p>of Brentwood Ursuline Convent High School for girls</p>
</div>

<div class="container">
    <form action="/" method="POST">
        <div class="form-group">
            <label>Department name</label>
            <input class="form-control" name="name" id="name" placeholder="Enter department name">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-light">Cancel</button>
    </form>
</div>
{% endblock %}




