{% extends 'base.html' %}

{% block head %}
<title>Departments</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Employees</h1>
    <p>{{department_name}}</p>
</div>

<div class="container">
    <ul class="list-group cProductsList">
        {% for emp in employees %}
        <li class="list-group-item d-flex">
            <div class="p-10 m-0 w-100">
                <p class="p-10 m-0"><a href="employee.html">{{ emp.name }}</a></p>
            </div>
            <a class="btn btn-light" href="/edit-employee/{{ emp.id }}" role="button">Edit</a>
            <a class="btn btn-secondary" href="/delete-employee/{{ emp.id }}" type="button">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <div class="container">
        <a class="btn float-right btn-primary mt-2" href="/add-employee/{{department_id}}" role="button">Add employee</a>
    </div>
</div>
{% endblock %}




